git rm --cached .DS_Store
git rm --cached client/app/.DS_Store
git rm --cached client/imgs/.DS_Store
git rm --cached client/lib/.DS_Store
git rm --cached client/services/.DS_Store
git rm --cached client/styles/.DS_Store
git rm --cached client/.DS_Store
git rm --cached server/.DS_Store
git rm --cached server/config/.DS_Store
