<!DOCTYPE html>

<html>
  <head>
    <title>rex</title>

    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="lib/angular-loading-bar/build/loading-bar.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css" type="text/css" media='all' />
    <link rel="stylesheet" href="lib/font-awesome-4.6.3/css/font-awesome.min.css">
    <link href="lib/angular-jk-rating-stars/dist/jk-rating-stars.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />



    <script src="lib/angular/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script src="services/services.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/angular-loading-bar/build/loading-bar.js"></script>
    <script src="lib/angular-jk-rating-stars/dist/jk-rating-stars.js"></script>

    <script src="lib/ZingChart-AngularJS-master/src/zingchart-angularjs.js"></script>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>


  </head>




  <body ng-app="rex">


    <div class="auth-container" ng-controller="authController">
      <button ng-controller="searchController" class="btn btn-primary btn-lg outline analyze" ng-show="user" ng-click="analyzeRatings(user)">Analyze</button>
      <a ui-sref="register">
        <button class="btn btn-primary btn-lg outline register" ng-show="!user">Register</button>
      </a>
      <a ui-sref="login">
        <button class="btn btn-primary btn-lg outline login" ng-show="!user">Login</button>
      </a>
      <div ng-show="user" class="current-user">{{user}}</div>
      <div ng-show="!user" class="current-user">Not Logged In</div>

      <a ng-click="logout()">
        <button class="btn btn-primary btn-lg outline logout" ng-show="!!user">Logout</button>
      </a>
    </div>

    <ui-view></ui-view>

    <h1 class="title">rex</h1>
 

    <div class ="col-6" ng-controller="searchController">


      <form ng-submit="findInstances(searchField)">
        <input type="text" class="search" ng-model="searchField" placeholder="Search for your favorite restaurants/hotels/businesses..." />
        <button class="btn btn-primary btn-lg outline">Search</button>
      </form>
      <br />
      <br />
      <ng-search-results ng-repeat="candidate in candidates[candidates.length -1]" ng-show="candidateGeneration"></ng-search-results>

      <ng-crosswalk-results ng-repeat="(key, value) in places" ng-show="candidateView"></ng-crosswalk-results>

      <ng-analysis-results ng-repeat="(key, value) in analysis" ng-show="analysisView"></ng-analysis-results>
    </div>

  </body>

</html>
