body {
  background: linear-gradient(
    rgba(20, 20, 20, 0.5),
    rgba(20, 20, 20, 0.5)
    ),
    url(../imgs/background.jpg) no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size:    cover;
  -o-background-size:      cover;
  background-size:         cover;
}

.title {
  font-family: 'Times New Roman';
  color: white;
  letter-spacing: 3px;
  font-size: 72px;
  margin: 0 auto;
  text-align: center;
}

.col-6 {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
}

