body {
  background: linear-gradient(
    rgba(20, 20, 20, 0.5),
    rgba(20, 20, 20, 0.5)
    ),
    url(../imgs/background.jpg) no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size:    cover;
  -o-background-size:      cover;
  background-size:         cover;
}

.title {
  font-family: 'Times New Roman';
  color: white;
  letter-spacing: 3px;
  font-size: 72px;
  margin: 0 auto;
  text-align: center;
}

.col-6 {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
}

/** Containers Styling **/
.candidates-container {
  border: 1px solid #0dffc3;
  padding: 10px;
  margin: 5px;
}

/** Search Form and Button Styling **/

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}
                        
.btn-primary {
  background: #0099cc;
  color: #ffffff;
}
                                 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}
                                     
.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none;
}

.btn.outline {
  background: none;
  padding: 12px 22px;
}

.btn-primary.outline {
  border: 2px solid #0099cc;
  color: #0099cc;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
  color: #33a6cc;
  border-color: #33a6cc;
}

.btn-primary.outline:active, .btn-primary.outline.active {
  border-color: #007299;
  color: #007299;
  box-shadow: none;
}

.title {
  color: white;
  letter-spacing: 3px;
  font-size: 72px;
  margin: 0 auto;
  text-align: center;
}

input {
  margin-top: 40px;
  font-family: 'Muli', sans-serif;
}

input.search, input.btn {
  display: inline-block;
}

input.search {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  height: 40px;
  width: 55%;
  padding: 0px 20px;
  font-size: 18px;
  border: none;
  vertical-align: -2px;
}

input.search:focus {
  outline: none;
}

#loading-bar .bar {
  position: relative;
}