body {
  background: linear-gradient(
    rgba(20, 20, 20, 0.5),
    rgba(20, 20, 20, 0.5)
    ),
    url(../imgs/background.jpg) no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size:    cover;
  -o-background-size:      cover;
  background-size:         cover;
}

.title {
  font-family: 'Times New Roman';
  color: white;
  letter-spacing: 3px;
  font-size: 72px;
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 100vw;
}

.col-6 {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
}

/** Containers Styling **/
.candidates-container {
  border: 1px solid #0dffc3;
  padding: 10px;
  margin: 5px;
}

.candidate-name:hover {
  cursor: pointer;
}

/** Authentication Related **/

form, h1, .auth-btn {
  text-align: center;
  font-family: 'Muli', sans-serif;
}

.username, .password {
  margin: 5px 5px;
}

.current-user {
  font-size: 36px;
  color: white;
  font-family: 'Inconsolata', monospace;
  padding-left: 5px;
  float: left;
}

.auth-container {
  width: 100%;
  float: right;
}

.login, .logout, .register {
  float: right;
  padding: 5px;
  margin: 5px;
  width: 100px;
}

.auth-form {
  width: 20%;
  height: 20%;
  right: 0px;
  top: 50px;
  position: fixed;
  color: white;
}

/** Search Form and Button Styling **/

.btn {
  padding: 14px 24px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}
                        
.btn-primary {
  background: #0099cc;
  color: #ffffff;
}
                                 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}
                                     
.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none;
}

.btn.outline {
  background: none;
  padding: 12px 22px;
  width: 100px;
}

.btn-primary.outline {
  border: 2px solid #0099cc;
  color: #0099cc;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
  color: #33a6cc;
  border-color: #33a6cc;
}

.btn-primary.outline:active, .btn-primary.outline.active {
  border-color: #007299;
  color: #007299;
  box-shadow: none;
}

.title {
  color: white;
  letter-spacing: 3px;
  font-size: 72px;
  margin: 0 auto;
  text-align: center;
}

input {
  margin-top: 40px;
  font-family: 'Muli', sans-serif;
}

input {
  display: inline-block;
}

input {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  height: 40px;
  width: 55%;
  padding: 0px 20px;
  font-size: 18px;
  border: none;
  vertical-align: -2px;
}

input:focus {
  outline: none;
}

.candidate-name {
  font-size: 28px;
  font-weight: bold;
}

.candidate-address {
  display: inline-block;
  font-size: 20px;
  margin: 5px 10px;
}

.candidate-neighborhoods {
  font-size: 16px;
  padding-top: 5px;
}

.rating-site {
  padding: 5px 3px;
  text-align: left;
  width: 100%;
}

.rate {
  width: 30%;
  float: left;
}

.results-container {
  padding-top: 30px;
  overflow: hidden;
  background: rgba(34, 36, 36, 0.9);
  color: white;
  padding: 10px 10px;
}

.rating-site {
  border: none;
}

.results-name {
  font-size: 36px;
  text-align: left;
}

.material-icons:hover {
  cursor: pointer;
}

.jk-rating-stars-container {
  width: 50%;
  float: right;
}
